html {
  background-color: #ffffff;
}

.heading {
  margin-top: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  align-items: flex-start;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 40px;
}

.wrapper .chart {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 9px #bdbdbd, -5px -5px 9px #ffffff;
}

.wrapper .canvas {
  padding: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 9px #bdbdbd, -5px -5px 9px #ffffff;
}

.wrapper .canvas canvas {
  margin-bottom: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset 5px 5px 9px #bdbdbd, inset -5px -5px 9px #ffffff;
}

.img_helper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 10px;
}